/* FOOTER */
footer {
    background-color: #003860;
    padding: 20px;
    color: rgb(191, 197, 201);
}
header{
    background-color: #003860;
    color: #ffffff;
 }
 head{
    background-color: #003860;
    color: #ffffff;
 }
.columnas-footer {
    display: flex;
    justify-content: space-between;
}

.empresa-info,
.redes-sociales {
    width: 48%; 
}

.derechos-reservados {
    width: 100%;
    margin-top: 20px; 
}

/*estilos generales*/
body{
    background-color: #98c0f8;
}

.fondo_header{
    background-color: #003860;
    color: #ffffff;
}

.color_boton{
    background-color: #003860;
    color: #ffffff;
}

.fondo-img{
    background: url("../img/fondo-index.png") ;
  
    background-size: cover;
}
.color{
    background-color: #a7c8f7;
}

span{
    color: #ffffff;
}